<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>My Sample App Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Display distance</string>
			<key>Key</key>
			<string>distance</string>
			<key>DefaultValue</key>
			<string>miles</string>
			<key>Values</key>
			<array>
				<string>Miles</string>
				<string>Feet</string>
				<string>Kilometers</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Miles</string>
				<string>Feet</string>
				<string>Kilometers</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Scoring Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Number of matches</string>
			<key>Key</key>
			<string>number_of_matches</string>
			<key>DefaultValue</key>
			<string>3</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Add new opponent</string>
			<key>Key</key>
			<string>add_new_opponent</string>
			<key>DefaultValue</key>
			<string></string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Display opponent</string>
			<key>Key</key>
			<string>opponent</string>
			<key>DefaultValue</key>
			<string>Plainfield Central</string>
			<key>Values</key>
			<array>
				<string>Plainfield North</string>
				<string>Plainfield Central</string>
				<string>Plainfield South</string>
				<string>Minooka</string>
				<string>Oswego East</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Plainfield North</string>
				<string>Plainfield Central</string>
				<string>Plainfield South</string>
				<string>Minooka</string>
				<string>Oswego East</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
