<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>StringsTable</key>
        <string>Acknowledgements</string>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Title</key>
                
                
                
                
                
                
                <string>
                    
                    
                    
                    
                    
                    
                    
                    
VBall ScoreMaster© is property of BaraLabs, LLC. Copyright © 2014 BaraLabs.
                    
Many thanks go TO THE people that helped make this app a reality.  WITHOUT Paul Dolce, this app, literally, would NOT have been written.  I also want TO acknowledgement THE work of my beta test team, also known AS 'my family': Lisa, Shane, AND Ryan.

Included IN this app are THE following custom SOFTWARE packages, each containing their own copyrights AND USE agreements.
                    
- GBVersionTracking ©2013 Luka Mirosevic, Apache License version 2.0.  http://www.apache.org/licenses/
- WSCoachMarksView ©2013 Workshirt, Inc, MIT License.
- Chameleaon ©2014 Vicc alexander, MIT License.
- AppBotx ©2014 Appbot, MIT License.
- Google Anlaytics ©2014 Google, Inc. https://www.google.com/analytics/terms/us.html
- Crashylitics ©2014 Twitter, Inc. http://twitter.com
- FCColorPicker 2014 Fabian Canas, MIT License.

MIT License:
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
                </string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
        </array>
    </dict>
</plist>