<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Text Messages</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable text notifications?</string>
			<key>Key</key>
			<string>enableNotifications</string>
			<key>DefaultValue</key>
			<false/>
			<key>FalseValue</key>
			<string>Off</string>
			<key>TrueValue</key>
			<string>On</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>SMS Notification #:</string>
			<key>Key</key>
			<string>phoneNumberForNotification</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Player name:</string>
			<key>Key</key>
			<string>playerNameForNotifications</string>
			<key>DefaultValue</key>
			<string></string>
			<key>AutocorrectionType</key>
			<string>Default</string>
			<key>AutocapitalizationType</key>
			<string>Words</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Analytics to improve app</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow gathering analytics?</string>
			<key>Key</key>
			<string>analyticsChoice</string>
			<key>DefaultValue</key>
			<false/>
			<key>TrueValue</key>
			<string>Opt in</string>
			<key>FalseValue</key>
			<string>Opt out</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Acknowledgements</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Acknowledgements</string>
			<key>File</key>
			<string>Acknowledgements</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Version Information</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version 3.0</string>
			<key>Key</key>
			<string>versionInfo</string>
			<key>DefaultValue</key>
			<string> </string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
	</array>
</dict>
</plist>
